/*--------main----------*/
.about-banner {
  background-image: url(../assets/banner-about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.animate__fadeInDown {
  animation-duration: 1.3s;
}

.about-us {
  height: 100vh;
}


/*--------end main----------*/
