#home {
  background-image: url(../assets/lp_image1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.homepage {
  height: 60vh;
}

h4 {
  font-family: "Libre Franklin", sans-serif;
  color: #0071bc;
  text-transform: uppercase;
  font-style: bold;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.2em;
}
